{{yield}}

<div class="chat-window">
  <p>user [timestamp] : message</p>
</div>
<div class="input-box">
  {{input type=text placeholder="chat input"}}
  <button type="button" name="button" class="chat-button">Send</button>
</div>
