
<section class="game-area">
  <div class="command-console">
    <div class="console-window">
      C://
    </div>
    <div class="input-box">
      {{input type=text placeholder="console input"}}
      <button class="console-button" type="button" name="button">Enter</button>
    </div>
  </div>
  <div class="game-block">
    <div class="game-info">

    </div>
    {{chat-box}}
  </div>
</section>
