{{yield}}

<div class="chat-window">
  {{#each lobbyChatMessages as |message|}}
    <p>{{message}}</p>
  {{/each}}
</div>
<div class="input-box">
  {{input label="chatInput" type="text" name="chatInput" value=chatInput placeholder="console input" enter="chatEnter"}}
  <button type="button" {{action "chatEnter"}}>Send</button>
</div>
