
@import "ember-bootstrap/bootstrap";
$courier: "Courier", Courier, monospace;
// BODY

body {
  font-family: "Times New Roman";
  margin: 0;
  padding: 0;
  background-color: rgba(100,100,100,0.1);
}

// FONT

.courier {
  font-family: $courier;
}

// BUTTONS

button {
  background-color: rgba(100,100,100,0.1);
  font-size: 1.3em;
  font-family: inherit;
  border-radius: 5px;
  border-color: rgb(50,50,50);
  border-width: 0px 2px 2px 0px;
  box-sizing: border-box;
  margin: 0 0.66em;
}

button:focus {
  outline: 0;
}

button:active {
  border-width: 0;
  border-width: 1px 0px 0px 1px;

}

.navbar-btn{
  background-color: rgba(255,255,255,0.5);
}

// HEADER

header {
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(100,100,180,0.5);
}

.page-header {
  padding: 0em 1em 0em 0em;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 0;
}

.page-header a{
  text-decoration: none;
}

.app-title {
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  border-right: 1px solid black;
  background-color: rgba(255,255,255,0.5);
  transition: 1s;
  color: black;
}

.app-title:hover {
  background-color: rgba(0,0,0,0.5);
  color: white;
  transition: 1s;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

nav h3 {
  padding: 0 1em;
}

// SIGNUP MODAL

.sign-up-table td {
  padding: 0.5em 1em;
}

// MAIN

main {
  box-sizing: border-box;
  margin: 0;
  padding: 1em;

}
