
@import "ember-bootstrap/bootstrap";
$courier: "Courier", Courier, monospace;
// BODY

body {
  font-family: $courier;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

}

// FONT

.courier {
  font-family: $courier;
}

// BUTTONS

button {
  background-color: rgb(50,200,50);
  font-family: inherit;
  border-radius: 5px;
  border-color: rgb(50,50,50);
  border-width: 0px 2px 2px 0px;
  box-sizing: border-box;
  margin: 0 0.66em;
  font-size: 2em;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

button:active {
  border-width: 0;
  border-width: 1px 0px 0px 1px;

}



// HEADER

header {
  width: 100%;
  height: 10vh;
  background-color: white;
  background: rgba(100,100,180,0.5);
}

.page-header {
  margin: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;

}

.page-header a{
  text-decoration: none;
}

.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1em;
  transition: 1s;
  background: black;
  color: rgb(50,200,50);
  height: 10vh;
}

.app-title:hover {
  background-color: white;
  color: black;
  transition: 1s;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  width: 100%;
  margin-right: 0.5em;
}

nav h3 {
  padding: 0 1em;
}

// SIGNUP MODAL

.sign-up-table td {
  padding: 0.5em 1em;
}

// MAIN

main {
  box-sizing: border-box;
  margin: 0;
  padding: 0.25em;
  height: 90vh;
  width: 100%;
  background-color: black;
}

// GAME AREA

.game-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(175,175,175)
}

.command-console,
.docs-area,
.game-block {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0.5em;
}

//documents area
.docs-area {
  margin: 0.5em 0;
}

// COMMAND CONSOLE AREA

.command-console {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.console-window {
  box-sizing: border-box;
  height: 100%;
  background-color: black;
  color: rgb(50,200,50);
  font-family: $courier;
  padding: 0.5em;
  margin-bottom: 0.5em;
  word-break: break-all;
  overflow-y: scroll;
}

.console-input {
  display: flex;
  justify-content: center;
  width: 100%;
}

.console-input input,
.chat-box input{
  width: 100%;
  background: black;
  color: rgb(50,200,50);
  font-family: $courier;
  border: 1px solid white;
  padding: 0 1em;
}

.game-info {
  width: 40%;
  background: black;
  color: rgb(50,200,50);
  margin-right: 0.25em;
}

// CHAT BOX AREA

.chat-box {
  width: 60%;
  margin-left: 0.25em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.chat-window {
  height: 100%;
  width: 100%;
  background: black;
  color: rgb(50,200,50);
  padding: 0.5em;
}

.chat-input {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  width: 100%;
}

.chat-input input {
  width: 100%;
}

// MODALS

// DESKTOP QUERY

@media (min-width: 1025px) {
  .game-area {
    flex-direction: row;
    padding: 0.5em;
  }

  .command-console,
  .docs-area,
  .game-block {
    height: 100%;
  }

  .docs-area {
    margin: 0 0.5em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: blue;
  }

  .game-block {
    flex-direction: column;
    height: 100%;
  }

  .game-info {
    height: 50%;
    width: 100%;
    margin: 0 0 0.25em;
    padding: 0;
  }

  .chat-box {
    height: 50%;
    width: 100%;
    margin: 0.25em 0 0 0;
    padding: 0;
    font-family: $courier;
  }


}

// ODDLY SIZED VIEWS

@media (max-width: 670px) {
  .app-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .app-title h1 {
    font-size: 2em;
  }

  button {
    font-size: 2em;
  }

}

@media (max-width: 530px) {
  .app-title h1 {
    font-size: 1.3em;
  }

}

@media (max-width: 470px) {
  button {
    font-size: 1em;
  }
}
