<header>
  <div class="page-header">
    <h1 class="courier">lockDown()</h1>
    <p>{{loggedIn}}</p>
    {{#if loggedIn}}
      <button type="button" class="navbar-btn navbar-right">Log Out</button>
    {{else}}
      <button type="button" class="navbar-btn navbar-right">Log In</button>
      <button type="button" class="navbar-btn navbar-right">Sign Up</button>
    {{/if}}
  </div>
</header>

{{outlet}}

<footer>

</footer>
