{{outlet}}
<div class="game-lobby">
  <div class="games-list">
    
  </div>
  <div class="lobby-chat-area">
    {{
      chat-box
      chatMessages=chatMessages
      user=user
      room=room
      socketIOService=socketIOService
      url=url
    }}
  </div>
</div>
