{{outlet}}
<div class="game-lobby">
  <div class="games-list">
    <div class="games-window">
      
    </div>
  </div>
  <div class="lobby-chat-area">
    {{
      lobby-chat-box
      user=user
    }}
  </div>
</div>
