<div class="index-page">
  <div class="index-header">
    <h2>Welcome to $lockDown</h2>
    <h4>An asymmetrical co-operative tech themed game!</h4>
  </div>
  <div class="start-game">
    <button type="button" name="button">CREATE GAME</button>
    <button type="button" name="button">JOIN GAME</button>
  </div>
  <div class="index-main">
    <p>In this game, you are stranded aboard a space station that has been deserted.  Most systems are offline, and most doors are on lockDown().  However, you are not alone!  There is another person stranded aboard the staiton, and with their help, you both may be able to escape to tell this tale.</p>
    <p>But, one of you is stranded in Engineering, unable to leave, the other is wandering the station.  Luckilly, both of you found a communication device to speak to each other.  Perhaps if you work together, you can over come the struggles of the station.</p>
    <p>To begin playing, you will need to sign up and create an account, or, if you have already done so, log in to your account.  After that, click CREATE GAME to create a new game, or click JOIN GAME to join another person's game</p>
    {{#link-to "example-game-area"}} To see an example game area, click here! {{/link-to}}
  </div>

</div>
